
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Terafik";
  src: url('fonts/IRTerafik.ttf') format('truetype');
  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TerafikBold";
  src: url('fonts/IRTerafikBold.ttf') format('truetype');
  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url('fonts/Vazirmatn-VariableFont_wght.ttf') format('truetype');
  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
  font-style: normal;
}



:root {
  --font-default: "Vazirmatn";
  --font-metro: "TerafikBold"
}


/* ----------------------------------- */

body {
  font-family: var(--font-default);
}

.metro {
  font-family: var(--font-metro);
}

.l1, .l1w {
  @apply bg-red-600 shadow-lg shadow-red-600/50
}

.l2{
  @apply bg-indigo-700 shadow-lg shadow-indigo-700/50
}

.l3{
  @apply bg-sky-600 shadow-lg shadow-sky-600/50
}

.l4, .l4s{
  @apply bg-yellow-500 shadow-lg shadow-yellow-500/50
}

.l5, .l5w{
  @apply bg-green-600 shadow-lg shadow-green-600/50
}

.l6e, .l6w{
  @apply bg-pink-500 shadow-lg shadow-pink-500/50
}

.l7{
  @apply bg-fuchsia-700 shadow-lg shadow-fuchsia-700/50
}

.l1-line, .l1w-line {
  @apply bg-red-600/30 shadow-lg shadow-red-600/50
}

.l2-line{
  @apply bg-indigo-700/30 shadow-lg shadow-indigo-700/50
}

.l3-line{
  @apply bg-sky-600/30 shadow-lg shadow-sky-600/50
}

.l4-line, .l4s-line{
  @apply bg-yellow-500/30 shadow-lg shadow-yellow-500/50
}

.l5-line, .l5w-line{
  @apply bg-green-600/30 shadow-lg shadow-green-600/50
}

.l6e-line, .l6w-line{
  @apply bg-pink-500/30 shadow-lg shadow-pink-500/50
}

.l7-line{
  @apply bg-fuchsia-700/30 shadow-lg shadow-fuchsia-700/50
}



.heroimage {
  background-image: url(/BACK.svg);
}

