
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Terafik";
  src: url('fonts/IRTerafik.ttf') format('truetype');
  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TerafikBold";
  src: url('fonts/IRTerafikBold.ttf') format('truetype');
  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url('fonts/Vazirmatn-VariableFont_wght.ttf') format('truetype');
  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
  font-style: normal;
}



:root {
  --font-default: "Vazirmatn";
  --font-metro: "TerafikBold"
}


/* ----------------------------------- */

body {
  font-family: var(--font-default);
}

.metro {
  font-family: var(--font-metro);
}

.l1, .l1w {
  @apply bg-red-600
}

.l2{
  @apply bg-indigo-900
}

.l3{
  @apply bg-sky-600
}

.l4, .l4s{
  @apply bg-yellow-500
}

.l5, .l5w{
  @apply bg-green-600
}

.l6e, .l6w{
  @apply bg-pink-500
}

.l7{
  @apply bg-fuchsia-800
}